[flake8]
# 选择要忽略的错误码。
# E501: 行太长
# W503: 在二元运算符前换行
# W291: 尾随空格
# W293: 空行包含空格
# F401: 导入但未使用
# F541: f-string 缺少占位符
# F841: 赋值但未使用的变量
# E226: 算术运算符周围缺少空格
# E402: 模块导入不在顶部
# E401: 一行多个导入
# E203: 冒号前有空格（Black 格式化后常见）
# E722: 裸 except
ignore = E501, W503, W291, W293, F401, F541, F841, E226, E402, E401, E203, E722, E201, E225
max-line-length = 200
