[Unit]
Description=Node Exporter (System Metrics for Prometheus)
After=network.target

[Service]
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=":9100" \
  --collector.systemd \
  --collector.processes

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=node_exporter

[Install]
WantedBy=multi-user.target
