[Unit]
Description=Prometheus Monitoring Server
After=network.target

[Service]
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/data/prometheus \
  --web.listen-address="0.0.0.0:9090" \
  --web.enable-lifecycle

Restart=always
RestartSec=10

# 存储路径在 /data（256GB 盘）
StandardOutput=journal
StandardError=journal
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target
